<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Type new password</h2>
<input type="text" placeholder="new password" id="password">
<h2>Confirm new password</h2>
<input type="text" placeholder="confirm password" id="confirmPassword">
<button id="ChangePasswordButton">Change password</button>

<script>
    let button = document.getElementById("ChangePasswordButton");

    button.addEventListener('click', () => {
        let password = document.getElementById("password")
        let confirmPassword = document.getElementById("confirmPassword")
        if (password.value !== confirmPassword.value) {
           document.body.innerHTML=document.body.innerHTML+"<h3>Password must be same <h3/>"
        } else {
            let request = fetch(`http://192.168.4.93:5000/changePassword:${password}`, {
                method: 'POST',

                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json'
                },

            });
            request.then(data=>{
                let response = data.json()
                alert(response.message);
            })

        }
    });
</script>
</body>

</html>
